.main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  min-height: 100vh;
}

.navbar {
  display: flex;
  padding: 3rem 0;
  height: 10rem;
}

.navbar img {
  height: 100%;
}

/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (prefers-color-scheme: dark) {

}